 @import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Lavishly+Yours&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    color: white;
    margin: 0%;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    @apply bg-gradient-to-l  from-black via-slate-900 to-slate-950
}

/* src/index.css or global.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 9999px;
}




/* section{
    background-image: url("./assets/tecky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
@keyframes scrolly {
  0%{
  opacity: 0;
  }
  50%{
    opacity: 0.2;
    scale:0.5
  }
  to{
    opacity:1;
    scale:1;
  }
 }

 .isanime{
  animation: scrolly linear;
  animation-timeline: view();
  animation-range-end: 40%;
  animation-duration: 5s;
 }

 @keyframes soloup {
  from{
    opacity:0;
    transform: scalex(0);
    transition-duration: 3s;
  }
  to{
    opacity:1;
    scale:1;
  }
  
}

.issolo{
    animation: soloup linear;
    animation-range-end:38% ;
    animation-timeline: view();
    animation-duration: 3s;
 }

  